@font-face {
    font-family: 'GameFont';
    src: url(fonts/BlackOpsOne-Regular.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'GameFont', Arial, Helvetica, sans-serif;
    background-color: midnightblue;
    color: yellow;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.select-players, .close-modal-btn, .restart-btn, .end-game-btn, .start-game-btn {
    font-family: 'GameFont', Arial, Helvetica, sans-serif;
    background-color: yellow;
    color: midnightblue;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.restart-btn, .end-game-btn {
    font-size: 1.2rem;
    border-radius: 12px;
}

button:hover {
    opacity: 0.9;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.header-stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.players-stats {
    display: flex;
    gap: 50px;
    font-size: 1.5rem;
}

.player-names {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.player1-stats, .player2-stats {
    gap: 12px;
}

h1 {
    font-size: 5rem;
    text-shadow: yellow 1px 0 7px;
}

.select-players {
    padding: 20px;
    font-size: 2rem;
    border-radius: 15px;
    box-shadow: 1px 1px 5px yellow;
}

.player-names, .player1-stats, .player2-stats {
    display: none; /* Escondido até o tabuleiro ser gerado */
}

.round-result {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    border-radius: 20px;
    padding: 20px;
    z-index: 100;
    background-color: midnightblue;
    color: yellow;
    position: fixed;
    inset: 0px;
    width: 34rem;
    height: 15rem;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
    text-align: center;
    transition: opacity 0.4s ease, background-color 0.4s ease;
    opacity: 1;
}

.hidden {
    opacity: 0;
    background-color: rgba(173, 216, 230, 0);
    visibility: hidden;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 0;
    justify-content: center;
    align-content: center;
}

.gameBoard-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.cell {
    border: 1px solid midnightblue;
    background-color: yellow;
    color: midnightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 5rem;
    font-family: 'GameFont', Arial, Helvetica, sans-serif;
}

.close-modal-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 5px;
    padding: 12px;
    background-color: lightcoral;
    font-weight: bolder;
    color: white;
}

.new-game-dialog {
    display: none;
    border: 3px solid midnightblue;
    border-radius: 10px;
    margin: 20vh auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: yellow;
    color: blue;
}

.new-game-dialog button {
    background-color: midnightblue;
    color: yellow;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
}

.backdrop.show {
    display: block;
}

.gameForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.gameForm input {
    outline: none;
    background-color: midnightblue;
    border: none;
    color: yellow;
    padding: 5px;
}