body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 0;
    justify-content: center;
    align-content: center;
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 4rem;
}

.close-modal-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 5px;
    padding: 12px;
    background-color: lightcoral;
    font-weight: bolder;
    color: white;
}

.new-game-dialog {
    display: none;
    border: none;
    border-radius: 10px;
    margin: 10vh auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

dialog[open] {
    display: flex;
    flex-direction: column;
}

.gameForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}